{% extends "base.html" %}


{% block content %}

    <div class="container">
        <div class="fb-profile">
                <img align="left" class="fb-image-lg" src="/static/images/fondo-facebook.jpg" alt="Fondo escena Blacksad"/>
                <img align="left" class="fb-image-profile thumbnail" src="/static/images/blacksad.jpg" alt="Blacksad"/>
                <div class="fb-profile-text">
                    <h1>Richard Casares</h1>
                    <p>{{mensaje}}</p>
                </div>
        </div>
    </div>

{% endblock content %}